        <!-- Start Section Banner Area -->
        <div class="section-banner bg-4">
            <div class="container">
                <div class="banner-spacing">
                    <div class="section-info">
                        <h2 data-aos="fade-up" data-aos-delay="100">Contact Us</h2>
                        <p data-aos="fade-up" data-aos-delay="200">Bhoomi Global Education Consultancy is more than just a service provider; it's a place where your academic and career aspirations take shape. Our team is dedicated to offering personalized support, helping you navigate the process of choosing the right study destination, and ensuring your path to success is clear and  ...</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Section Banner Area -->
        
        <!-- Start Contact  Area-->
        <div class="contact-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="contact-content">
                            <div class="header-content">
                                <h2>We’d Love To Hear From You</h2>
                                <p>At Bhoomi Global Education Consultancy, we are committed to supporting students throughout their academic journey. Whether you're in the process of selecting the right program or preparing for graduation, our team is here to guide you. We offer expert advice for students pursuing undergraduate and postgraduate degrees across a range of fields, including business, education, health sciences, and more.</p>
                                <p>For verifications, please email <a href="#">bhoomiglobaleducation&#64;gmail.com</a></p>
                            </div>

                            <div class="contact-form">
                                <form id="contactForm">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name">First Name</label>
                                                <input type="text" name="name" class="form-control" id="name" required data-error="Please enter your name" placeholder="">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name">Last Name</label>
                                                <input type="text" name="name" class="form-control" id="name2" required data-error="Please enter your name" placeholder="">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                            
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name">Email</label>
                                                <input type="email" name="email" class="form-control" id="email" required data-error="Please enter your email" placeholder="">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name">Phone</label>
                                                <input type="text" name="phone_number" class="form-control" id="phone_number" required data-error="Please enter your phone number" placeholder="">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
    
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="name">Inquiry Type</label>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>Admission</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="name">Inquiry</label>
                                                <textarea name="message" id="message" class="form-control" cols="30" rows="6" required data-error="Please enter your message" placeholder=""></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
    
                                        <div class="col-lg-12 col-md-12">
                                            <button type="submit" class="default-btn">Submit Now</button>
                                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-info">

                         <!-- Start Map Area -->
                        <div id="map" class="map-pd">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9476519598093!2d85.2667!3d26.7667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f5696b8a4d3699%3A0x63a6e5c1ac37ac4b!2sBarhawa%20Pul%2C%20Rautahat%2C%20Nepal!5e0!3m2!1sen!2sbd!4v1588746137032!5m2!1sen!2sbd"></iframe>
                        </div>
                        <!-- End Map Area -->

                        <div class="info-details">
                            <ul>
                                <li><i class='bx bxs-phone-call'></i> General Inquiries - <a href="tel:+9779818624040">9818624020</a></li>
                                <li><i class='bx bxs-phone-call'></i> Enrollment Inquiries - <a href="tel:+9779818524040">9818524020</a></li>
                                <li><i class='bx bxs-phone-call'></i> Financial Inquiries - <a href="tel:+9779818624020"> 9818524040</a>(Option 4)</li>
                                <li><i class='bx bxs-phone-call'></i> Student Account Inquiries - <a href="tel:+9822031389"> 9822031389</a>(Option 5)</li>
                                <li><i class='bx bxs-map'></i> Chakrapath, Kathmandu, Nepal</li>
                                <li><i class='bx bxs-map'></i> Barhawa Pul, Rautahat, Nepal</li>
                                <li><i class='bx bxs-envelope'></i><a class="info-mail" href="bhoomiglobaleducation&#64;gmail.com">bhoomiglobaleducation&#64;gmail.com</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Contact Area-->