
        <!-- Start Section Banner Area -->
        <div class="section-banner bg-1">
            <div class="container">
                <div class="banner-spacing">
                    <div class="section-info">
                        <h2 data-aos="fade-up" data-aos-delay="100">About Us</h2>
                        <p data-aos="fade-up" data-aos-delay="200">At Bhoomi Global Education Consultancy, we specialize in helping students achieve their dreams of studying abroad...</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Section Banner Area -->

        <!-- Start About Us Area -->
        <div class="about-us-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="text-content" data-aos="fade-up" data-aos-delay="100">
                            <div class="sub-title">
                                <i class='bx bxs-graduation'></i> <p>About Bhoomi Global</p>
                            </div>
                             <h2 class="title-anim">Where Ambitions Take Flight</h2>
                            <p class="title-anim">At Bhoomi Global Education Consultancy, we specialize in helping students achieve their dreams of studying abroad. We provide expert guidance and personalized solutions for international students seeking education opportunities in the UK, Canada, the US, Australia, and beyond. Our services cover every step of the journey, from choosing the right programs and universities to assisting with visa applications and post-graduation work opportunities.</p>
                            <!-- <a class="default-btn" href="schedule-tour.html">Schedule A Tour</a> -->
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="row justify-content-end">
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="content" data-aos="fade-right" data-aos-delay="100">
                                <img src="assets/img/all-img/about-image.png" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="notice-content" data-aos="fade-right" data-aos-delay="200">
                                    <i class='bx bxs-quote-left'></i>
                                    <h4 class="title-anim">Education Without Limits</h4>
                                    <p class="title-anim">At Bhoomi Global Education Consultancy, we believe in unlocking the potential of every student and guiding them toward success across global educational landscapes. Our commitment is to provide expert advice, seamless visa processing, and personalized solutions for a diverse range of study destinations, including the UK, Canada, the US, and Australia.</p>
                                    <div class="author-info">
                                        <h5>Shivam Jaiswal</h5>
                                        <p>Co-Founder, Bhoomi Global Education Consultancy</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Us Area -->

        <!-- Start Academics Area -->
        <div class="academics-area bg-color-1 ptb-100" >
            <div class="container">
                <div class="section-title" data-aos="fade-up" data-aos-delay="100">
                    <div class="sub-title">
                        <i class='bx bxs-graduation'></i> <p>Academics</p>
                    </div>
                    <h2>Where Excellence Meets Opportunity</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="academics-item" data-aos="fade-up" data-aos-delay="100">
                            <img src="assets/img/icon/education-1.png" alt="icon">
                            <h4>Education Services</h4>
                            <p>At Bhoomi Global Education Consultancy, we provide comprehensive services to help students navigate their study abroad journey. From selecting the right course and university to assisting with visa applications, accommodation, and career guidance, we offer tailored solutions to ensure a seamless experience for every student. Our mission is to empower students by opening doors to top-tier educational institutions worldwide.</p>
                            <!-- <a href="the-campus-experience.html">Learn More <i class='bx bx-right-arrow-alt'></i></a> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="academics-item active" data-aos="fade-up" data-aos-delay="200">
                            <img src="assets/img/icon/education-2.png" alt="icon">
                            <h4>International Hubs</h4>
                            <p>Bhoomi Global Education Consultancy has established strong connections with key educational hubs worldwide. With partnerships in the UK, Canada, the US, and Australia, we offer students the opportunity to explore diverse educational landscapes. Our international network allows us to provide localized support, ensuring that students receive expert guidance, from selecting the best institutions to adapting to new cultural environments.
                            </p>
                            <!-- <a href="the-campus-experience.html">Learn More <i class='bx bx-right-arrow-alt'></i></a> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="academics-item" data-aos="fade-up" data-aos-delay="300">
                            <img src="assets/img/icon/education-3.png" alt="icon">
                            <h4>Bachelor’s and Master’s</h4>
                            <p>Bhoomi Global Education Consultancy helps students to select the right bachelor’s and master’s programs suited to their academic interests and career goals. Whether you are seeking an undergraduate degree to build a strong foundation or a specialized master’s program to advance your expertise and extend the knwoledge, we guide you through every step—from program selection to application processes.</p>
                            <!-- <a href="the-campus-experience.html">Learn More <i class='bx bx-right-arrow-alt'></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Academics Area -->
       
        <!-- Start Campus Tour Area -->
        <div class="campus-tour">
            <div class="container-fluid p-0">
                <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
                    <div class="col-lg-6">
                        <div class="content" data-aos="fade-up" data-aos-delay="100">
                            <div class="sub-title">
                                <i class='bx bxs-graduation'></i> <p>Core Values</p>
                            </div>
                            <h2>Special Campus Tour</h2>

                            <p>At Bhoomi Global Education Consultancy, we offer exclusive campus tours to help prospective students explore top universities and colleges worldwide. Our personalized tours provide a firsthand experience of student life, facilities, and academic environments, allowing you to make an informed decision about your study destination. Whether you're considering studying in the UK, Canada, the US, or Australia, we ensure that you get a real feel for the campus atmosphere and the opportunities available.</p>
                        
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image cp-bg-1" data-aos="fade-zoom-in" data-aos-delay="100">
                        </div>
                    </div>
                </div>
                <div class="row g-0 align-items-center">
                    
                    <div class="col-lg-6">
                        <div class="image cp-bg-2" data-aos="fade-zoom-in" data-aos-delay="100">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content" data-aos="fade-up" data-aos-delay="100">
                            <div class="sub-title">
                                <i class='bx bxs-graduation'></i> <p>Core Values</p>
                            </div>
                            <h2>Graduation</h2>

                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm tem incid idunt ut labore et magna aliqua.</p> -->
                            <p>At Bhoomi Global Education Consultancy, we celebrate the achievements of our students as they complete their educational journey abroad. Whether you’re finishing your bachelor’s, master’s, or doctoral program, we guide you through the graduation process and help you plan your next steps, including career opportunities and post-graduation work visas. Our goal is to ensure that your transition from student life to professional success is as smooth as possible.</p>
                        </div>
                    </div>
                </div>
                <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
                    <div class="col-lg-6">
                        <div class="content" data-aos="fade-up" data-aos-delay="100">
                            <div class="sub-title">
                                <i class='bx bxs-graduation'></i> <p>Core Values</p>
                            </div>
                            <h2>Personalized Study Plans</h2>

                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm tem incid idunt ut labore et magna aliqua.</p> -->
                            <p>We offer tailored study plans to help you achieve academic success in your chosen field. From course selection to time management strategies, our team provides guidance to ensure you excel in your studies and make the most of your international education experience.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image cp-bg-3" data-aos="fade-zoom-in" data-aos-delay="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Campus Tour Area -->