<!-- Start Clgun Banner 2 Area -->
<div class="banner-area-2 big-bg-2">
    <div class="container">
        <div class="banner-content-2">
            <div class="content">
                <span data-aos="fade-zoom-in" data-aos-delay="300">The Best Education Consultancy of the Madhesh</span>
                <h1 data-aos="fade-up" data-aos-delay="200">Transformative Education</h1>
                <p data-aos="fade-up" data-aos-delay="300">At Bhoomi Global Education Consultancy, we provide expert guidance for students seeking educational opportunities abroad. Our tailored services ensure that every student makes informed decisions and pursues the right path for a successful future.</p>

                <div class="buttons-action" data-aos="fade-up" data-aos-delay="100">
                    <a class="default-btn" href="application-form.html">Apply With Us</a>
                    <a class="default-btn btn-style-2" href="contact-us.html">Chat with Us</a>
                </div>
                <div class="vertical-lr" data-aos="fade-zoom-in" data-aos-delay="100">
                    <p>Transformative Education <span>12-10-2024</span></p>
                </div>

                <div class="scroll-down" data-aos="fade-down" data-aos-delay="100">
                   <a href="#about"><i class='bx bx-chevron-down'></i></a> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Clgun Banner 2 Area -->


       <!-- Start About Us Area -->
       <div class="about-us-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="text-content" data-aos="fade-up" data-aos-delay="100">
                        <div class="sub-title">
                            <i class='bx bxs-graduation'></i> <p>About Our Consultancy</p>
                        </div>
                         <h2 class="title-anim">Where Opportunities Meet Success</h2>
                        <p class="title-anim">Bhoomi Global Education Consultancy offers personalized guidance and support to students aspiring to study abroad. Our mission is to provide a seamless experience for students, from choosing the right course to guiding them through the entire application process. With expert consultants, we focus on helping students achieve their educational dreams and pave the way for a successful global career.</p>
                        <a class="default-btn" href="schedule-tour.html">Schedule a Free Consultation</a>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="row justify-content-end">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="content" data-aos="fade-right" data-aos-delay="100">
                            <img src="assets/img/bhoomi/bhoomiglobal.png" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="notice-content" data-aos="fade-right" data-aos-delay="200">
                                <i class='bx bxs-quote-left'></i>
                                <h4 class="title-anim">Knowledge Beyond Boundaries</h4>
                                <p class="title-anim">Your path to a brighter future starts with the right guidance. At Bhoomi Global, we believe in unlocking the potential of every student by providing comprehensive support, practical advice, and a deep understanding of international education opportunities.</p>
                                <div class="author-info">
                                    <span>Rajan Kumar Chaudhary</span>
                                    <!-- <h5>John Michael</h5> -->
                                    <p>Founder, Bhoomi Global Education Consultancy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Us Area -->

    <!-- Start Events Area -->
     <app-eventscomp></app-eventscomp>
    <!-- End Events Area -->     

    <!-- Start Testimonials Area -->
     <app-testimonials></app-testimonials>
    <!-- End Testimonials Area -->     

