    <!-- Start Events Area -->
    <div class="events-area ptb-100">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-delay="100">
                <div class="sub-title">
                    <i class='bx bxs-graduation'></i> <p>News and Events</p>
                </div>
                 <h2 class="title-anim">Recent Important Stories Updated</h2>
            </div>

            <!-- Top Event -->
            <div class="event lg" data-aos="fade-up" data-aos-delay="100">
                <div class="content">
                    <div class="image">
                        <img src="assets/img/bhoomi/empoweringuk.png" alt="image">
                    </div>
                    <div class="text title-anim">
                        <div class="tag">Featured News</div>
                         <h2><a href="blog-details.html">Latest Updates on UK Education Policies: Empowering International Students</a></h2>
                        <span>December 09, 2024</span>
                        <p>The UK government has introduced new education policies aimed at benefiting international students. Key updates include streamlined visa procedures, extended post-study work opportunities, and enhanced support for cultural integration. These changes underscore the UK's commitment to maintaining its status as a top global education destination.
                            <br/>Stay informed with Bhoomi Global Education Consultancy for the latest updates and opportunities to study in the UK!</p>
                        <div class="link"><a href="blog-details.html"><i class='bx bx-link-external'></i></a></div>
                    </div>
                </div>
            </div>
            
            <!-- Recent Post & Event -->
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="recent-post">
                        <div class="event" data-aos="fade-up" data-aos-delay="100">
                            <div class="content">
                                <div class="image">
                                    <img src="assets/img/bhoomi/uk.png" alt="image">
                                </div>
                                <div class="text title-anim">
                                    <div class="tag">News</div>
                                     <h2 class="title-anim"><a href="blog-details.html">Rising Job Opportunities for Graduates in the UK</a></h2>
                                    <span>December 09, 2024</span>
                                    <p>The UK job market is experiencing significant growth, offering promising opportunities for graduates. Key sectors such as technology, healthcare, and green energy are actively recruiting skilled professionals. With these developments, international graduates in the UK can explore diverse career paths and benefit from initiatives like the Graduate Route visa, which allows them to stay and work in the country post-graduation.</p>
                                    <div class="link"><a href="blog-details.html"><i class='bx bx-link-external'></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="event" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <div class="image">
                                    <img src="assets/img/bhoomi/aus.jpeg" alt="image">
                                </div>
                                <div class="text title-anim">
                                    <div class="tag">News</div>
                                     <h2 class="title-anim"><a href="blog-details.html">Australia: Strengthening Pathways for International Graduates</a></h2>
                                    <span>Decemeber 15, 2024</span>
                                    <p>Australia has unveiled updates to its Skilled Migration Program, offering longer temporary graduate visas and additional permanent residency options for international graduates. This initiative aims to address skill shortages while providing a brighter future for students studying in Australia’s world-renowned institutions.
                                    <br/>Bhoomi Global Education Consultancy is your partner in shaping a successful journey to Australia!</p>
                                    <div class="link"><a href="blog-details.html"><i class='bx bx-link-external'></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="upcoming-event">
                        <!-- Upcoming Events -->
                        <h4 data-aos="fade-up" data-aos-delay="100">More Stories</h4>  
                        <div class="event-dates" data-aos="fade-up" data-aos-delay="100">
                            <div class="date">
                                <ul>
                                    <li class="mnt">Dec</li>
                                    <li class="det">13</li>
                                </ul>
                            </div>
                            <div class="content title-anim">
                                <h3><a href="blog-details.html">Winter Session 2025: A Golden Opportunity for International Students in the UK</a></h3>
                                <p>The winter intake, starting in January 2025, is a perfect opportunity for international students to begin their academic journey in the UK.</p>
                                <!-- <div class="location"><i class='bx bx-map'></i> Canyon Grand Hall</div> -->
                                <!-- <div class="link"><a href="blog-details.html"><i class='bx bx-link-external'></i></a></div> -->
                            </div>
                        </div>
                        <div class="event-dates" data-aos="fade-up" data-aos-delay="200">
                            <div class="date">
                                <ul>
                                    <li class="mnt">Dec</li>
                                    <li class="det">17</li>
                                </ul>
                            </div>
                            <div class="content title-anim">
                                <h3><a href="blog-details.html">Potential Changes in U.S. Visa Policies Under Trump Administration</a></h3>
                                <p>International students in the U.S. may face tighter visa regulations with Donald Trump’s return to office.</p>
                                <!-- <div class="location"><i class='bx bx-map'></i> Canyon Grand Hall</div>
                                <div class="link"><a href="blog-details.html"><i class='bx bx-link-external'></i></a></div> -->
                            </div>
                        </div>
                        <div class="event-dates" data-aos="fade-up" data-aos-delay="300">
                            <div class="date">
                                <ul>
                                    <li class="mnt">Oct</li>
                                    <li class="det">19</li>
                                </ul>
                            </div>
                            <div class="content title-anim">
                                <h3><a href="blog-details.html">Improved Post-Graduation Work Permits (PGWP)</a></h3>
                                <p>International students completing master’s programs will now qualify for extended three-year work permits, enhancing opportunities for long-term career prospects.</p>
                                <!-- <div class="location"><i class='bx bx-map'></i> Canyon Grand Hall</div>
                                <div class="link"><a href="blog-details.html"><i class='bx bx-link-external'></i></a></div> -->
                            </div>
                        </div>
                        <!-- <div class="event-dates" data-aos="fade-zoom-in" data-aos-delay="100">
                            <a class="btn" href="news-and-blog.html">View More Events <i class='bx bx-right-arrow-alt'></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Events Area -->