<!-- Start Courses Area -->
<div class="courses-area ptb-100">
    <div class="container">
        <div class="section-title" data-aos="fade-up" data-aos-delay="100">
            <div class="sub-title">
                <p>Free Courses</p>
            </div>
            <h2>Where Knowledge Knows No Bounds</h2>
        </div>
        <div class="courses-courser owl-carousel owl-theme">
            <div class="course-item" data-aos="fade-up" data-aos-delay="100">
                <div class="image">
                    <img src="assets/img/all-img/courses-image-1.png" alt="image">
                </div>
                <div class="content">
                    <span>October 4,2024</span>
                    <h2><a href="courses-details.html">Environmental Science and Sustainability</a></h2>
                    <ul>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-1.png" alt="image"> 
                            </div>
                            <span>432</span>
                        </li>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-2.png" alt="image"> 
                            </div>
                            <span>1.2k</span>
                        </li>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-3.png" alt="image"> 
                            </div>
                            <span>5.0</span>
                        </li>
                    </ul>

                    <div class="teacher-info">
                        <div class="image">
                            <img src="assets/img/all-img/teacher-img.png" alt="image">
                            <p>With <span>Anthony Steven</span></p>
                        </div>
                        <div class="price">
                            <p>Free</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-item" data-aos="fade-up" data-aos-delay="200">
                <div class="image">
                    <img src="assets/img/all-img/courses-image-2.png" alt="image">
                </div>
                <div class="content">
                    <span>October 4,2024</span>
                    <h2><a href="courses-details.html">Environmental Science and Sustainability</a></h2>
                    <ul>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-1.png" alt="image"> 
                            </div>
                            <span>432</span>
                        </li>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-2.png" alt="image"> 
                            </div>
                            <span>1.2k</span>
                        </li>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-3.png" alt="image"> 
                            </div>
                            <span>5.0</span>
                        </li>
                    </ul>

                    <div class="teacher-info">
                        <div class="image">
                            <img src="assets/img/all-img/teacher-img.png" alt="image">
                            <p>With <span>Anthony Steven</span></p>
                        </div>
                        <div class="price">
                            <p>Free</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-item" data-aos="fade-up" data-aos-delay="300">
                <div class="image">
                    <img src="assets/img/all-img/courses-image-3.png" alt="image">
                </div>
                <div class="content">
                    <span>October 4,2024</span>
                    <h2><a href="courses-details.html">Environmental Science and Sustainability</a></h2>
                    <ul>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-1.png" alt="image"> 
                            </div>
                            <span>432</span>
                        </li>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-2.png" alt="image"> 
                            </div>
                            <span>1.2k</span>
                        </li>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-3.png" alt="image"> 
                            </div>
                            <span>5.0</span>
                        </li>
                    </ul>

                    <div class="teacher-info">
                        <div class="image">
                            <img src="assets/img/all-img/teacher-img.png" alt="image">
                            <p>With <span>Anthony Steven</span></p>
                        </div>
                        <div class="price">
                            <p>Free</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-item" data-aos="fade-up" data-aos-delay="400">
                <div class="image">
                    <img src="assets/img/all-img/courses-image-3.png" alt="image">
                </div>
                <div class="content">
                    <span>October 4,2024</span>
                    <h2><a href="courses-details.html">Environmental Science and Sustainability</a></h2>
                    <ul>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-1.png" alt="image"> 
                            </div>
                            <span>432</span>
                        </li>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-2.png" alt="image"> 
                            </div>
                            <span>1.2k</span>
                        </li>
                        <li>
                            <div class="image-circle">
                                <img src="assets/img/icon/icon-3.png" alt="image"> 
                            </div>
                            <span>5.0</span>
                        </li>
                    </ul>

                    <div class="teacher-info">
                        <div class="image">
                            <img src="assets/img/all-img/teacher-img.png" alt="image">
                            <p>With <span>Anthony Steven</span></p>
                        </div>
                        <div class="price">
                            <p>Free</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Courses Area -->
